

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" >
                   Unidad CIFA - Creciendo Sano
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" >ITESCA ISC</a>
               - coded by <a target="_blank" rel="noopener noreferrer" >Grupo FCS</a>
          </div>
        </div>
    </footer>
